@font-face {
  font-family: "MINET font";
  src: url("../fonts/minet.eot");
  src: url("../fonts/minet.eot?#iefix") format("embedded-opentype"), url("../fonts/minet.woff2") format("woff2"), url("../fonts/minet.woff") format("woff"), url("../fonts/minet.ttf") format("truetype"), url("../fonts/minet.svg#virgo_01regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@import url('https://fonts.googleapis.com/css?family=Cardo|Source+Sans+Pro');
body {
  background: whitesmoke;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 157% !important;
  margin: 0;
  padding: 0; }

::-moz-selection {
  background: #69e;
  color: #fff; }

::selection {
  background: #69e;
  color: #fff; }

.container {
  width: 100% !important;
  max-width: 100% !important; }
  .container .three.columns {
    position: fixed;
    background: #fff;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    width: 25% !important;
    border-right: 1px solid #eee;
    min-height: 100vh;
    /* Track */
    /* Handle */ }
    .container .three.columns::-webkit-scrollbar {
      width: 10px; }
    .container .three.columns::-webkit-scrollbar-track {
      background: #ddd; }
    .container .three.columns::-webkit-scrollbar-thumb {
      background: #aaa; }
    .container .three.columns::-webkit-scrollbar-thumb:window-inactive {
      background: #aaa; }
    .container .three.columns header {
      text-align: center; }
      .container .three.columns header a.handletter {
        font-family: "MINET font", sans-serif;
        text-decoration: none !important;
        font-size: 240%;
        color: #69e;
        text-align: center;
        display: inline-block;
        margin-top: 6rem; }
        .container .three.columns header a.handletter:hover {
          color: #69e; }
      .container .three.columns header img.logo {
        vertical-align: middle;
        height: 50px;
        position: relative;
        bottom: 9px;
        left: 10px; }
    .container .three.columns .rounds-list {
      border-top: thin solid #EBEBEB;
      width: 100%;
      margin-top: 5rem;
      font-size: 120%; }
      .container .three.columns .rounds-list .list {
        cursor: pointer;
        padding: 20px 50px 15px 50px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        border-bottom: thin solid #EBEBEB; }
        .container .three.columns .rounds-list .list span {
          font-weight: 800;
          display: inline;
          padding-right: 15px;
          font-size: 110%; }
        .container .three.columns .rounds-list .list:hover {
          background: #fafafa; }
        .container .three.columns .rounds-list .list p {
          font-family: 'Source Sans Pro', sans-serif;
          margin-bottom: 0 !important;
          display: inline; }
        .container .three.columns .rounds-list .list i {
          font-size: 200%;
          float: right;
          position: relative;
          bottom: 10px;
          display: none; }
        .container .three.columns .rounds-list .list ul {
          display: none;
          padding-left: 40px;
          margin-top: 1rem;
          margin-bottom: 0 !important;
          list-style: none; }
          .container .three.columns .rounds-list .list ul li a {
            color: #69e !important;
            text-decoration: none;
            border-bottom: 2px solid #69e; }
  .container .nine.columns {
    margin-left: 25% !important; }

h1 {
  font-family: 'Cardo', serif;
  text-align: center;
  font-size: 4rem !important;
  margin-top: 7% !important; }
  h1 + p {
    padding-top: 2.5rem;
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    font-size: 120%; }

h3 {
  font-family: 'Cardo', serif;
  text-align: center;
  font-size: 3rem !important;
  margin-bottom: -2rem !important; }

.right-navbar {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  color: #69e; }

.question {
  text-align: justify;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 1px rgba(50, 50, 50, 0.05);
  box-shadow: 0 2px 2px 1px rgba(50, 50, 50, 0.05);
  padding: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: black;
  line-height: 1.5;
  background: #fff;
  width: 90%;
  padding: 40px;
  max-width: 700px;
  display: block;
  margin: 5% auto;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .question p {
    margin-bottom: 0 !important; }
    .question p span.bold {
      font-weight: 800; font-family: 'Inconsolata', monospace; font-size: 110% !important;}
  .question strong {
    font-size: 110%; }
  .question:nth-of-type(n+16) {
    display: none; }
  .question table {
    border-collapse: 0;
    border-spacing: 0;
    font-family: 'Inconsolata', monospace;}
    .question table td, .question table th {
      border: 1px solid #eee;
      text-align: left;
      padding: 10px 20px; }
  .question ul, .question ol {
    margin-top: 15px;
    padding-left: 0px; }

form {
  margin-bottom: -10px !important; }
  form input {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    width: 100%;
    height: 38px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font: inherit; }
    form input[type="submit"] {
      display: none; }

.finished {
  font-family: 'Cardo', serif;
  text-align: center;
  font-size: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none; }

div[data-content]:not([data-content="landing"]) {
  display: none; }

div[data-content] div[id="easy"],
div[data-content] div[id="medium"],
div[data-content] div[id="hard"] {
  display: none; }

  .mainthing p {
  	text-align: justify;
  	top: 50%;
      font-family: Lato;
      font-size: 1em;
  }
  .example {
  	font-weight: 600;
  }
  .box {
  	border: 0.5px solid #aaa;
  	padding: 1%;
  	border-radius: 2.5px;
  	margin-top: 2%;
  	color: rgb(10, 10, 10);
  	font-family: Inconsolata;
  }

  .questiondabba {
  	text-align: right;
  	margin-bottom: none;
  	font-size: 0.7em;

  }
  .codetext {

  	font-family: "Inconsolata";
  }

  .dabba{
  	text-align: right;
  	margin-bottom: 2%;
  	font-size: 0.7em;
      font-family: Lato;
  }

  div[data-content] div[id="easy"],div[data-content] div[id="medium"],div[data-content] div[id="hard"] {
      display: none
  }
  span.highlight
  {
      display: inline;
      font-family: "Inconsolata";
      font-size: 0.9em;
      background-color: #e0e0e0;
      -webkit-transition: background-color 1s; /* For Safari 3.1 to 6.0 */
      transition: background-color 1s;
  }

  span.highlight:hover
  {
      background-color: #FFFFFF;
  }

