
<!doctype html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Workshops | The Girl Code</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'Bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'TheGirlCode/LandingPage/master.css' %}" rel="stylesheet">
    <link href="{% static 'TheGirlCode/LandingPage/style.css' %}" rel="stylesheet">
    <link href="{% static 'TheGirlCode/LandingPage/workshop.css' %}" rel="stylesheet">

    <link rel="icon" href="{% static 'TheGirlCode/LandingPage/Images/logo_trans.png' %}">


  </head>

  <body>
    <!-- header -->
      <header class="navbar-fixed-top light">
        <nav>
          <ul class="leftalign">
            <li><a style="color: rgba(255, 51, 85, .85)" href="{% url 'home' %}">
              <img src="{% static 'TheGirlCode/LandingPage/Images/logo.png' %}" class="girllogo"/></a></li>
          </ul>
          <ul>
            <li><a href="{% url 'about_us' %}">About us</a></li>
            <li><a href="{% url 'workshops' %}"> Workshops</a></li>
              <li class="dropdown">
              <a style="color: rgba(255, 51, 85, .85);">Platform</a>
              <div class="dropdown-content">
                <a href="{% url 'accounts:register' %}">Sign up</a>
                <a href="{% url 'accounts:login' %}">Log in</a>
              </div>
            </li>
          </ul>
        </nav>
      </header>
    <!-- header end -->

    <main role="main">

      <section>
         <div class="container">
            <div class="">
            <div class=" text">
                <h1 class=""> Upcoming Events </h1>
            </div>
            </div>
         </div>

      <div class="section" style="margin-top: 2%;">
        <div class="container">
            <!-- main container -->
            <div class="main-container portfolio-inner clearfix">
                <!-- portfolio div -->
                <div class="portfolio-div">
                    <div class="portfolio">                        
                        <!-- portfolio_container -->
                        <div class="no-padding portfolio_container clearfix">
                            <!-- single work -->
                            <div class="col-md-4 col-sm-6">

                                <a id="demo01" href="#" class="portfolio_item"> <img class="image" src="{% static 'TheGirlCode/LandingPage/Images/MIS.jpg' %}" alt="Card image cap">

                                    <div class="portfolio_item_hover">
                                        <div class="portfolio-border clearfix">
                                            <div class="item_info">
                                                <p>The Mother's International School</p>
                                                <span>6-Day Workshop (2nd Jan - 12th Jan)</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- end single work -->
                            
                        </div>
                        <!-- end portfolio_container -->
                    </div>
                    <!-- portfolio -->
                </div>
                <!-- end portfolio div -->
            </div>
            <!-- end main container -->
        </div>
    </div>
    <!-- ./projects -->
      
    </main>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="Bootstrap/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="Bootstrap/assets/js/vendor/popper.min.js"></script>
    <script src="Bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="Bootstrap/assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
