<!DOCTYPE html>

<head>

  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#2979ff">
  <!-- Meta tags end -->


  <!-- CSS Files -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'accounts/curriculum/skeleton.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'accounts/curriculum/app.css'%}">

  <!-- CSS Files end -->

  <!-- bootstrap -->
  <link href="{% static 'Bootstrap/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'Bootstrap/creative.min.css' %}" rel="stylesheet">
  <!-- bootstrap end -->

  <!-- stylesheet -->
  <link rel="stylesheet" href="{% static 'TheGirlCode/LandingPage/master.css' %}" media="screen" title="no title">
  <!-- stylesheet end -->

  <!-- Icons -->
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="apple-touch-icon-precomposed" href="img/icon.png">
  <link href="https://fonts.googleapis.com/css?family=Cardo|Inconsolata|Source+Sans+Pro" rel="stylesheet">
  <!-- Icons end-->
  
  <!-- Tab -->
  <title>Course 1 | The Girl Code</title>
  <link rel="icon" href="{% static 'TheGirlCode/LandingPage/Images/logo_trans.png' %}">
  <!-- Tab end-->

</head>

<body>

    <!-- Navbar -->
    <header class="navbar-fixed-top light">
      <nav>
        <ul class="leftalign">
          <li><a style="color: rgba(255, 51, 85, .85)" href="{% url 'accounts:profile' %}">
              The Girl Code
             </a></li>
        </ul>
        <ul>
         <li><a href="{% url 'accounts:course' %}"> Course </a></li>
         <li><a href=" {% url 'accounts:settings' %}"> Settings</a></li>
         <li><a href=" {% url 'accounts:logout' %}"> Logout</a></li>
        </ul>
      </nav>
    </header>
    <!-- Navbar end -->

  <div class="container">

    <div class="row">

      <div class="three columns child">

        <div class="rounds-list">

          <div class="list">
            <span class="counter">01</span>
            <p>Basic Introduction</p>
          </div>

          <div class="list">
            <span class="counter">02</span>
            <p>Conditional Flow</p>
          </div>

          <div class="list">
            <span class="counter">03</span>
            <p>Strings</p>
          </div>

          <div class="list" >
            <span class="counter">04</span>
            <p>Loops</p>
          </div>

          <div class="list">
            <span class="counter">05</span>
            <p>Turtle Graphics</p>
          </div>

          <div class="list">
            <span class="counter">06</span>
            <p>Functions</p>
          </div>

          <div class="list">
            <span class="counter">07</span>
            <p>Recursion</p>
          </div>

          <div class="list">
            <span class="counter">08</span>
            <p>Lists</p>
          </div>

          <div class="list">
            <span class="counter">09</span>
            <p>Sort and Search Algorithms</p>
          </div>

        </div>

      </div>

      <div class="nine columns child">

        <div data-content="landing">
          <br>
          <br>

          <h1> Basic Introduction &middot; Python</h1>
          <div class="question">

            <p>
              INTRODUCTION TO OUR PLATFORM AND PYTHON. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non lectus ultrices arcu ultrices sollicitudin. Nullam ut condimentum ex. Curabitur vitae neque eros. Donec interdum lacinia erat eu tincidunt. Phasellus eu dictum arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum, neque ac ullamcorper pellentesque, metus nisi pulvinar nulla, nec ullamcorper lorem dolor sit amet urna. Vivamus posuere urna eget pharetra auctor. Donec arcu urna, laoreet nec cursus a, gravida vitae mi. Pellentesque nec massa tempus, luctus felis at, placerat eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam aliquam purus ac aliquam laoreet. Curabitur consectetur molestie lectus, eget pharetra turpis hendrerit ac.
            </p>
            <span class="bold">Printing</span>
            A natural number $n$.
            <br><br>
          </div>
        </div>
              
          <div class="question">
              <p> Topics start </p>
              <span class="bold">Input: </span>A natural number $n$.<br><br>
              <span class="bold">Output: </span>The two largest anti-primes below $n$. <br><br>
              <span class="bold">Limit: </span>$0 \leq  n \leq  2^{31}-1$ <br><br>
              <span class="bold">Example</span><br><br>

            </div>

          <h1> Questions &middot; Python</h1>
          <div class="question">

            <form method="POST">
              {% csrf_token %}
               <p>1. Print ("Hello World!")</p>
               <br>
               {{ form.answer_1 }}
               <br>
               <br>
              <button type="submit"> Submit </button>
            </form>
            <br>
            {% if  user.answer_1 == "Hello World" %}
            <p> Correct </p>
            {% else %}
            <p> Try again </p>
            {% endif %}

          </div>



      </div>



        

  <script src="//use.typekit.net/dbe5tbi.js"></script>
  <script>
    try {
      Typekit.load();
    } catch (e) {}
  </script>
  <script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({ tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]} });
  </script>

  <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

  <script type="text/javascript">
    $(".list").click(function() {
      $(this).find("ul").slideDown();
      $(this).find("i").css("display", "inline");
    });

    $(".list i").click(function(event) {
      event.stopPropagation();
      $(this).parent().find("ul").slideUp();
      $(this).css("display", "none");
    });

    $(".list ul li").click(function() {
      var difficulty = $(this).find("a").data("navigate");
      var roundCount = $(this).parent().parent().attr('id');
      $("div[data-content]").css("display", "none");
      $('div[data-content=' + roundCount + ']').css("display", "block");
      var id = '#' + difficulty;
      $('div[data-content=' + roundCount + ']').find('div[id]').css("display", "none");
      $('div[data-content=' + roundCount + ']').find(id).css("display", "block");
      if (roundCount == "round-one") {
        temp = "Round One &middot;";
      } else if (roundCount == "round-two") {
        temp = "Round Two &middot;";
      } else if (roundCount == "round-three") {
        temp = "Round Three &middot;";
      } else if (roundCount == "round-four") {
        temp = "Round Four &middot;";
      } else if (roundCount == "round-five") {
        temp = "Round Five &middot;";
      }
      var capitalized = difficulty[0].toUpperCase() + difficulty.substring(1);
      var newText = temp + ' ' + capitalized;
      $('div[data-content=' + roundCount + ']').find("h1").html(newText);
    });
  </script>

</body>

</html>
