<!DOCTYPE html>

<head>

  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#2979ff">
  <!-- Meta tags end -->


  <!-- CSS Files -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'accounts/curriculum/skeleton.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'accounts/curriculum/app.css'%}">

  <!-- CSS Files end -->

  <!-- bootstrap -->
  <link href="{% static 'Bootstrap/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'Bootstrap/creative.min.css' %}" rel="stylesheet">
  <!-- bootstrap end -->

  <!-- stylesheet -->
  <link rel="stylesheet" href="{% static 'TheGirlCode/LandingPage/master.css' %}" media="screen" title="no title">
  <!-- stylesheet end -->

  <!-- Icons -->
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="apple-touch-icon-precomposed" href="img/icon.png">
  <link href="https://fonts.googleapis.com/css?family=Cardo|Inconsolata|Source+Sans+Pro" rel="stylesheet">
  <!-- Icons end-->
  
  <!-- Tab -->
  <title>Course 1 | The Girl Code</title>
  <link rel="icon" href="{% static 'TheGirlCode/LandingPage/Images/logo_trans.png' %}">
  <!-- Tab end-->

</head>

<body>

    <!-- Navbar -->
    <header class="navbar-fixed-top light">
      <nav>
        <ul class="leftalign">
          <li><a style="color: rgba(255, 51, 85, .85)" href="{% url 'accounts:profile' %}">
              The Girl Code
             </a></li>
        </ul>
        <ul>
         <li><a href="{% url 'accounts:profile' %}"> Profile </a></li>
         <li><a href=" {% url 'accounts:logout' %}"> Logout</a></li>
        </ul>
      </nav>
    </header>
    <!-- Navbar end -->

  <div class="container">

    <div class="row">

      <div class="three columns child">

        <div class="rounds-list">
            <br>
        <a href="{% url 'accounts:course1' %}">   
          <div class="list">
            <p>Basic Introduction</p>
          </div>
        </a>  

        <a href="{% url 'accounts:course2' %}"> 
          <div class="list">
            <p>Conditional Flow</p>
          </div>
        </a>  

        <a href="{% url 'accounts:course3' %}">  
          <div class="list">
            <p>Strings</p>
          </div>
        </a>  

        <a href="{% url 'accounts:course4' %}"> 
          <div class="list" >
            <p>Loops</p>
          </div>
        </a>  

        <a href="{% url 'accounts:course5' %}"> 
          <div class="list">
            <p>Turtle Graphics</p>
          </div>
        </a>  

        <a href="{% url 'accounts:course6' %}"> 
          <div class="list">
            <p>Functions</p>
          </div>
        </a>  

        <a href="{% url 'accounts:course7' %}"> 
          <div class="list">
            <p>Recursion</p>
          </div>
        </a>  

        <a href="{% url 'accounts:course8' %}"> 
          <div class="list">
            <p>Lists</p>
          </div>
        </a>  

        <a href="{% url 'accounts:course9' %}"> 
          <div class="list">
            <p>Sort and Search Algorithms</p>
          </div>
        </a>

        </div>

      </div>

      <div class="nine columns child">

        <div data-content="landing">
          <br>
          <br>

          
          <div class="question">

            <h1> Basic Introduction &middot; Python</h1>

            <p>
              Greetings, code enthusiast! My name is Eve and I’m going to guide you through your journey of learning Python. 
              <br>
              <br>
              Some words will be underlined and can be clicked upon for explanation  <u><b>like this</b></u> ( Good job! You’ve opened up an explanation for ‘like this’ and you can do it <b><u>again!</u></b> ( Wow, you’re terrific at this!) 
              <br>
              <br>

              A computer program is the set of instructions that tell that the dumb hardware  (mouse,keyboard,desktop-the physical parts of a computer)  what to do. 

              <br>
              <br>
      
          
              A programming language is simply a means to communicate with the computer—a way to use instructions that the human and the computer can understand. Python is one such language!

              <br>
              <br>
      

              Programming is the process of taking an <u><b>algorithm</u></b> (A programming algorithm is a a lot like a recipe - the ingredients are called the inputs and the dish is the output which tells your computer precisely what steps to take to solve a problem.) and writing it in a language that the computer understands.

            </p>
          </div>
              
          <div class="question">
              <h1> Variables </h1>
              <p>
              Just like your brain, the computer also has memory where it stores data (pieces of information).<br> 
              A variable can also be called a <b>label</b> for something.<br> 
        
              Let’s create a variable <var> red </var> and tell Python that it labels the number 100 ( this doesn’t mean that another variable can’t have the same value): 

              <br>

              <code> red = 100 </code>

              <br>
                    
              Now to display what the variable contains, type:

              <br>
          
              <code> print (red) </code>

              <br>

              Output: <samp> 100 </samp> 

              <br> 
          
              We can also use more than one label (more than one variable) for the same item:

              <br>
          
              <code>red = 200</code> 
              <br>
              <code>blue = red</code> 
              <br>
              <code>print(blue)</code> 

              <br> 

              Output: <samp> 200 </samp>

              <br>
                        
              Variable names can be made up of: 
              <br>
              <ul>
                <li> Letters and Numbers ( eg: var1, var45) </li>
                <li>the underscore character (_)</li> 
                <br>
              <b> but they can’t start with a number </b>
               
              </p>

            </div>

          <h1> Questions &middot; Python</h1>
          <div class="question">

            <form method="POST">
              {% csrf_token %}
               <p>1. <code>Print ("Hello World") </code></p>
               <br>
               {{ form.answer_1 }}
               <br>
               <br>
              <button type="submit"> Submit </button>
            </form>
            <br>
            {% if  user.answer_1 == "Hello World" %}
            <p> Correct </p>
            <img src = "{% static 'accounts/curriculum/Images/happy.png' %}"/>
            {% else %}
            <p> Try again </p>
            <img src = "{% static 'accounts/curriculum/Images/sad.png' %}"/>
            {% endif %}

          </div>



      </div>



        

  <script src="//use.typekit.net/dbe5tbi.js"></script>
  <script>
    try {
      Typekit.load();
    } catch (e) {}
  </script>
  <script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({ tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]} });
  </script>

  <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

  <script type="text/javascript">
    $(".list").click(function() {
      $(this).find("ul").slideDown();
      $(this).find("i").css("display", "inline");
    });

    $(".list i").click(function(event) {
      event.stopPropagation();
      $(this).parent().find("ul").slideUp();
      $(this).css("display", "none");
    });

    $(".list ul li").click(function() {
      var difficulty = $(this).find("a").data("navigate");
      var roundCount = $(this).parent().parent().attr('id');
      $("div[data-content]").css("display", "none");
      $('div[data-content=' + roundCount + ']').css("display", "block");
      var id = '#' + difficulty;
      $('div[data-content=' + roundCount + ']').find('div[id]').css("display", "none");
      $('div[data-content=' + roundCount + ']').find(id).css("display", "block");
      if (roundCount == "round-one") {
        temp = "Round One &middot;";
      } else if (roundCount == "round-two") {
        temp = "Round Two &middot;";
      } else if (roundCount == "round-three") {
        temp = "Round Three &middot;";
      } else if (roundCount == "round-four") {
        temp = "Round Four &middot;";
      } else if (roundCount == "round-five") {
        temp = "Round Five &middot;";
      }
      var capitalized = difficulty[0].toUpperCase() + difficulty.substring(1);
      var newText = temp + ' ' + capitalized;
      $('div[data-content=' + roundCount + ']').find("h1").html(newText);
    });
  </script>

</body>

</html>
