<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <title>Trinket</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">
  
<meta property="og:site_name" content="trinket.io" />
<meta property="og:title" content="A Visual Introduction to Python" />
<meta property="og:description" content="A visual introduction to code using the Python programming language and Turtles." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://hourofpython.trinket.io/a-visual-introduction-to-python" />
<meta property="og:image" content="https://trinket-app-assets.trinket.io/logo/PNG/stacked/trinket-logo-notag.png">

  <link rel="icon" href="/img/icons/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/cache-prefix-da8c96b3/img/icons/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/cache-prefix-da8c96b3/img/icons/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/cache-prefix-da8c96b3/img/icons/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/cache-prefix-da8c96b3/img/icons/apple-touch-icon-precomposed.png">
  
    <link rel="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/styles/github.min.css">
  
    <link rel="stylesheet" type="text/css" media="all" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  
    <link rel="stylesheet" type="text/css" media="all" href="//trinket-vendor-assets.trinket.io/video.js/5.20.4/dist/video-js.min.css">
  
    <link rel="stylesheet" type="text/css" media="all" href="/cache-prefix-da8c96b3/css/base.css">
  
  
  <script type="text/javascript">
    trinket = {
      config : {
        apphostname    : 'trinket.io',
        usersubdomains : true,
        protocol       : 'https',
        addthisurl     : '//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5344021135dae100',
        cachePrefix    : 'cache-prefix-',
        prefixes       : {"components":"cache-prefix-6fb063ca","js":"cache-prefix-da8c96b3","css":"cache-prefix-da8c96b3","img":"cache-prefix-da8c96b3","fonts":"cache-prefix-da8c96b3","partials":"cache-prefix-da8c96b3","skulpt":"485c5ea6","pypyjs":"cache-prefix-e8e5bcf1"},
        components     : {"ace-builds":"v1.2.6.1rc2","anchor-js":"2.0.0","angular-file-saver":"1.1.3","angular-load":"0.1.2","angular-notifyjs":"0.1.0","angular-ui-router":"0.2.11","angular-ui-tree":"2.0.10","angular-ui-utils":"0.1.1","angular-xeditable":"0.1.8","bluebird":"3.5.1","d3":"3.4.11","filereader":"107f68c3b9","file-saver.js":"1.20150507.2","font-mfizz":"2.0.1","gsap":"1.15.0","jquery-ui":"https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1","jsdiff":"1.0.8","jszip":"3.1.4","lazysizes":"1.5.0","lodash":"2.4.1","modernizr":"2.7.2","ng-file-upload":"1.2.6","ngInfiniteScroll":"1.1.2","notifyjs":"0.4.2","opal":"0.6.2","restangular":"1.3.1","video.js":"5.20.4","yamljs":"0.1.5"},
        vendorHost     : 'https://trinket-vendor-assets.trinket.io',
        trinketTypes   : [
          { lang : 'python',     image : 'https://ee5817f8e2e9a2e34042-3365e7f0719651e5b8d0979bce83c558.ssl.cf5.rackcdn.com/python.png',     label : 'Python'                                     },
          { lang : 'python3',    image : 'https://ee5817f8e2e9a2e34042-3365e7f0719651e5b8d0979bce83c558.ssl.cf5.rackcdn.com/python.png',     label : 'Python3', icon : 'trinket-key logo premium' },
          { lang : 'R',          image : 'https://ee5817f8e2e9a2e34042-3365e7f0719651e5b8d0979bce83c558.ssl.cf5.rackcdn.com/R.png',          label : 'R',       icon : 'trinket-key logo premium' },
          { lang : 'blocks',     image : 'https://ee5817f8e2e9a2e34042-3365e7f0719651e5b8d0979bce83c558.ssl.cf5.rackcdn.com/blocks.png',     label : 'Blocks'                                     },
          { lang : 'html',       image : 'https://ee5817f8e2e9a2e34042-3365e7f0719651e5b8d0979bce83c558.ssl.cf5.rackcdn.com/html.png',       label : 'HTML'                                       },
          { lang : 'glowscript', image : 'https://ee5817f8e2e9a2e34042-3365e7f0719651e5b8d0979bce83c558.ssl.cf5.rackcdn.com/glowscript.png', label : 'GlowScript'                                 },
          { lang : 'java',       image : 'https://ee5817f8e2e9a2e34042-3365e7f0719651e5b8d0979bce83c558.ssl.cf5.rackcdn.com/java.png',       label : 'Java',    icon : 'trinket-key logo premium' },
          { lang : 'music',      image : 'https://ee5817f8e2e9a2e34042-3365e7f0719651e5b8d0979bce83c558.ssl.cf5.rackcdn.com/music.png',      label : 'Music'                                      }
        ],
        autorun           : ["python","glowscript","blocks","python3","java","glowscript-blocks","R"],
        outputOnly        : ["python","html","glowscript","blocks","python3","java","glowscript-blocks","R"],
        toggleCode        : ["python","html","glowscript","blocks","python3","java","glowscript-blocks","R"],
        downloadable      : ["python","html","python3","java","blocks","glowscript-blocks","R"],
        uploadable        : ["blocks","glowscript-blocks"],
        hideGeneratedCode : ["blocks","glowscript-blocks"],
        runOption         : {"python":["run","console"],"python3":["run","console"],"R":["run","console"]}
      }
    };
  </script>
  
    <script src="//trinket-vendor-assets.trinket.io/modernizr/2.7.2/modernizr.js"></script>
  
    <script src="//trinket-vendor-assets.trinket.io/lodash/2.4.1/dist/lodash.min.js"></script>
  
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  
    <script src="//trinket-vendor-assets.trinket.io/ng-file-upload/1.2.6/angular-file-upload-shim.js"></script>
  
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.20/angular.min.js"></script>
  
    <script src="/cache-prefix-da8c96b3/js/trinket.js"></script>
  
    <script src="/cache-prefix-da8c96b3/js/trinket-config.js"></script>
  
    <script src="/cache-prefix-da8c96b3/js/trinket-roles.js"></script>
  
  
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46899028-1', 'trinket.io');
  
  ga('set', 'dimension2', 'google');
  
  ga('send', 'pageview');

  

</script>

  
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1441353372787187'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1441353372787187&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->
  


  
  
  

</head>
<body ng-app="trinket.classPage" id="course-view"
      
      class="loggedin course">

  <!-- for positioning footer at bottom of screen on short pages -->
  <div class="main-content-wrapper">

  <input id="whoami" type="hidden" value="japnit_ahuja_gmail_com">
  
  
    <div class="nav-wrapper">
      <nav class="top-bar" data-topbar data-options="is_hover: false" role="navigation" role="menubar" aria-label="Main Navigation">
        <ul class="title-area">
          <li class="name">
            <a href="//trinket.io/" role="button" aria-label="Index Page">
              <img src="/cache-prefix-da8c96b3/img/trinket-logo.png" alt="Trinket helps you teach with code" />
            </a>
            
              
              <a href="/plans"><span class="radius code-label">Code</span></a>
              
            
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
        <section class="top-bar-section">
          
          <ul>
            <li><a href="//trinket.io/home" aria-label="Go Home"><i class="fa fa-home"></i> Home</a>
          </ul>
          
          <ul class="right">
            
            <li><a href="//trinket.io/plans"><i class="fa fa-star"></i> Plans</a></li>
            <li><a href="https://hourofpython.com"><i class="fa fa-graduation-cap"></i> Learn</a></li>
            <li><a href="//trinket.io/help"><i class="fa fa-question-circle"></i> Help</a></li>
            
            
              <li class="has-dropdown" role="navigation">
                <a class="dropdown-btn" role='button' aria-controls="user_dropdown" aria-label="Open User Menu">
                  <img id="nav-user-avatar" src="https://lh5.googleusercontent.com/-7WkvvIN0Yb8/AAAAAAAAAAI/AAAAAAAABuU/9utVd_ekyX4/photo.jpg" alt="Photo of japnit ahuja" class="avatar">
                  <span id="userdata" data-user-id="561d1d70f4b5fbe76efed96a">japnit_ahuja_gmail_com</span>
                </a>
                <ul id="user_dropdown" class="dropdown"  role="menu" aria-label="User Menu">
                  <li role="menuitem">
                    <a href="//trinket.io/home">
                      <i class="fa fa-home"></i> Home
                    </a>
                  </li>
                  <li class="divider" role="presentation"></li>
                  <li role="menuitem">
                    <a href="//trinket.io/library/trinkets">
                      My Trinkets
                    </a>
                  </li>
                  <li class="has-dropdown" role="menuitem" >
                    <a role="button" aria-controls="new_trinket_list">New Trinket</a>
                    <ul id="new_trinket_list" class="dropdown" role="group" role="menu">
                      <li><a href="//trinket.io/library/trinkets/create?lang=python"><i class="lang-sprite lang-sprite-python"></i> Python</a></li>
                      <li><a href="//trinket.io/library/trinkets/create?lang=python3"><i class="lang-sprite lang-sprite-python"></i> Python3 <i class="trinket-key logo premium"></i></a></li>
                      <li><a href="//trinket.io/library/trinkets/create?lang=R"><i class="lang-sprite lang-sprite-R"></i> R <i class="trinket-key logo premium"></i></a></li>
                      <li><a href="//trinket.io/library/trinkets/create?lang=blocks"><i class="lang-sprite lang-sprite-blocks"></i> Blocks</a></li>
                      <li><a href="//trinket.io/library/trinkets/create?lang=html"><i class="lang-sprite lang-sprite-html"></i> HTML</a></li>
                      <li><a href="//trinket.io/library/trinkets/create?lang=glowscript"><i class="lang-sprite lang-sprite-glowscript"></i> GlowScript</a></li>
                      <li><a href="//trinket.io/library/trinkets/create?lang=java"><i class="lang-sprite lang-sprite-java"></i> Java <i class="trinket-key logo premium"></i></a></li>
                      <li><a href="//trinket.io/library/trinkets/create?lang=music"><i class="lang-sprite lang-sprite-music"></i> Music</a></li>
                    </ul>
                  </li>
                  <li class="divider" role="presentation"></li>
                  <li><a href="//trinket.io/account"><i class="fa fa-gear"></i> My Settings</a></li>
                  
                  <li class="divider" role="presentation"></li>
                  <li><a href="//trinket.io/help">Help</a></li>
                  <li><a href="//trinket.io/contact">Contact Us</a></li>
                </ul>
              </li>
              <li>
                <a href="//trinket.io/logout">
                  <i class="fa fa-sign-out"></i> Sign Out
                </a>
              </li>
            
          </ul>
        </section>
      </nav>
    </div>
  

  
  

  <section id="main-content" role="main">
    
  <div ng-cloak ng-controller="pageControl" ng-init="courseId='5421ba40e67b04fd578f5b82';userId='561d1d70f4b5fbe76efed96a';">
  
    <header id="course-nav" class="page-menu" ui-scrollfix="45">
      <div id="material-nav">
        <div id="class-progress">
          <div class="percentage" ng-style="{width:progress*100+'%'}"></div>
        </div>
      </div>

      <div class="course-subnav clearfix row gutterless">
        <section class="left">
          <nav class="title breadcrumbs">
            <a href="//trinket.io/home" aria-label="Go Home"><i class="fa fa-home"></i></a>
            <a class="current">{{ course.name }}</a>
          </nav>
        </section>
        <div class="right">
          
          
          <a href class="prev button small" ng-click="previousMaterial()" ng-disabled="!havePreviousMaterial()" aria-label="Previous Page">
            <i class="fa fa-angle-left"></i>
          </a>
          <a href class="next button small" ng-click="nextMaterial()" ng-disabled="!haveNextMaterial()" aria-label="Next Page">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </header>
    <div id="course-content" ui-scrollfix="45" ng-class="{open:menuOpen}">
      <a id="outline-expander" ng-click="menuOpen=!menuOpen" aria-label="Toggle Outline">
        <i class="fa" ng-class="{'fa-bars':!menuOpen,'fa-times':menuOpen}"></i>
      </a>
      <aside id="outline" ng-attr-aria-hidden="{{ menuOpen ? false : true }}">
        <div class="info" aria-label="Course Description">
          <p>{{ course.description }}</p>
        </div>
        <div>
          <ul class="outline-list lessons" aria-label="Course Outline" role="navigation">
            <li class="outline-list-item lesson" ng-repeat="lesson in course.lessons" ng-class="{past:lesson.isPast,current:lesson.isCurrent,future:lesson.isFuture}">
              <div class="lesson-title clearfix">
                <span class="lesson-name">
                  {{ lesson.name }}
                </span>
              </div>
              <ul class="outline-list materials">
                <li ng-repeat="material in lesson.materials" class="outline-list-item material" id="{{lesson.slug}}-{{material.slug}}" ng-class="{past:material.isPast,current:material.isCurrent,future:material.isFuture}">
                  <div class="material-title clearfix" ng-click="goToMaterial(material)">
                    <span class="material-name"><i class="fa" ng-class="material.type == 'assignment' ? 'fa-pencil-square-o' : 'fa-file-text-o'"></i> {{ material.name }}</span>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </aside>
      <div id="material-content" role="Main">
        <div id="material">
          <h1 class="subheader" aria-label="{{ material.name }}">
            <i class="fa" ng-class="material.type == 'assignment' ? 'fa-pencil-square-o' : 'fa-file-text-o'"></i>
            {{ material.name }}
          </h1>
          <div ng-hide="material.noContent" ng-bind-html="content()" class="content"></div>
          <div ng-switch="material.type" ng-show="material.noContent" class="content">
            <p ng-switch-when="page">No content has been added to this page yet.</p>
            <p ng-switch-when="assignment">No instructions have been added to this assignment yet.</p>
  
    
  
          </div>
          <trinket-assignment ng-if="material.trinket.trinketId && userId" material="material" assignment-trinket="{{ material.trinket }}"></trinket-assignment>
        </div>
      </div>
    </div>
  </div>
  
  

  </section>

    

  </div> <!-- end main-content-wrapper -->

  

  <div user-profile avatar-host="https://lh5.googleusercontent.com" avatar="-7WkvvIN0Yb8/AAAAAAAAAAI/AAAAAAAABuU/9utVd_ekyX4/photo.jpg" display-name="japnit ahuja" user-id="561d1d70f4b5fbe76efed96a" username="japnit_ahuja_gmail_com"></div>
  <div trinket-language></div>

  

  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    messageStyle : "none",
    tex2jax      : {
      inlineMath     : [['$(',')$'], ['\\(','\\)']],
      ignoreClass    : "mathjax-ignore",
      processEscapes : true
    },
    TeX          : {
      extensions : ["[siunitx]/siunitx.js"]
    }
  });
  MathJax.Ajax.config.path['siunitx']  = "/cache-prefix-6fb063ca/components/Mathjax-siunitx";
  </script>
  
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.20/angular-route.min.js"></script>
  
    <script src="//trinket-vendor-assets.trinket.io/restangular/1.3.1/dist/restangular.min.js"></script>
  
    <script src="/cache-prefix-6fb063ca/components/marked/lib/marked.js"></script>
  
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/highlight.min.js"></script>
  
    <script src="//trinket-vendor-assets.trinket.io/ace-builds/v1.2.6.1rc2/src-min/ace.js"></script>
  
    <script src="/cache-prefix-6fb063ca/components/foundation/js/foundation.min.js"></script>
  
    <script src="/cache-prefix-da8c96b3/partials/directives/flash.js"></script>
  
    <script src="/cache-prefix-da8c96b3/partials/directives/trinket.js"></script>
  
    <script src="//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
  
    <script src="/cache-prefix-da8c96b3/js/services/roles.js"></script>
  
    <script src="/cache-prefix-da8c96b3/partials/directives/join-course.js"></script>
  
    <script src="/cache-prefix-da8c96b3/partials/directives/courses.js"></script>
  
    <script src="/cache-prefix-da8c96b3/js/util/template.js"></script>
  
    <script src="/cache-prefix-da8c96b3/js/util/cache.js"></script>
  
    <script src="/cache-prefix-da8c96b3/js/gallery/gallery.js"></script>
  
    <script src="/cache-prefix-da8c96b3/js/debug.js"></script>
  
    <script src="/cache-prefix-da8c96b3/js/util/ng-text-select.js"></script>
  
    <script src="/cache-prefix-da8c96b3/js/util/text-select.js"></script>
  
    <script src="/cache-prefix-da8c96b3/js/trinket-share.js"></script>
  
    <script src="/cache-prefix-da8c96b3/js/trinket-groups.js"></script>
  
    <script src="//trinket-vendor-assets.trinket.io/notifyjs/0.4.2/dist/notify.js"></script>
  
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.20/angular-aria.min.js"></script>
  
  
    <script src="//trinket-vendor-assets.trinket.io/ng-file-upload/1.2.6/angular-file-upload.min.js"></script>
  
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-foundation/0.8.0/mm-foundation-tpls.min.js"></script>
  
    <script src="//trinket-vendor-assets.trinket.io/angular-notifyjs/0.1.0/angular-notifyjs.js"></script>
  
    <script src="/cache-prefix-da8c96b3/js/main/app.min.js"></script>
  

  
  <script>$(document).foundation()</script>
  

  <script>
      $(document).on('open', '#newTrinketModal', function() {
        $('.has-dropdown').removeClass('hover');
      });
      $('*[data-auth-init]').click(function(event) {
        event.preventDefault();
        var href     = $(this).attr('href');
        var provider = $(this).data('auth-init');
        ga('send', 'event', provider + ' Auth', 'Started', window.location.pathname, {
          'hitCallback' : function() {
            window.location.href = href;
          }
        });
      });
      

      $.notify.addStyle('foundation', {
        html : '<div><span data-notify-html></span></div>'
      });
      $.notify.defaults({
          position  : 'bottom center'
        , arrowShow : false
        , style     : 'foundation'
        , gap       : 0
      });
  </script>
  
  
    <script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
  
    <script src="//trinket-vendor-assets.trinket.io/angular-ui-utils/0.1.1/scrollfix.min.js"></script>
  
    <script src="/cache-prefix-da8c96b3/js/classPage/app.min.js"></script>
  
  <script>
    
  </script>

  




  
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 970987464;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<div style="display:none">
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</div>
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/970987464/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
  


  
<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
    
      
  
<script type="text/javascript">
twttr.conversion.trackPid('l4kgy', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l4kgy&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
<img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l4kgy&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" /></noscript>
  

    
    
  


<script type="text/javascript">
$(".contact-us-link").click(function(event) {
  if (typeof(Intercom) !== "undefined") {
    event.preventDefault();
    Intercom('showNewMessage');
  }
});
</script>


  
<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#async=1"></script>
<script type="text/javascript">
  var addthis_config = {
    "pubid" : "ra-5344021135dae100"
  };

  var addthis_share = {
    passthrough : {
      twitter: {
        related: 'trinketapp,hauspoor',
        
        text: "I love how Trinket &amp; Friends teaches A Visual Introduction to Python on @trinketapp. Check it out:"
        
      }
    },
    url_transforms : {
      shorten: {
        twitter: 'bitly'
      }
    },
    shorteners : {
      bitly : {}
    }
  };

  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'right',
      'services' : 'twitter,facebook,google_plusone_share'
    }
  });

  $(document).ready(function() {
    addthis.init();
  });
</script>



</body>
</html>
