{% extends 'accounts/course/course_base.html' %}

{% block title %} 2 {% endblock %}

{% block body %}

{% load static %}

  <div class="nine columns child">
    <div data-content="landing">
      <div class="question">

       <h1> Strings &middot; Python</h1>

        <p>
          You’ll use strings to display messages in your <b> <u>programs </b> </u> (such as “Game Over” messages in a game). <br> <br>
          In programming terms, we usually call text a string.     
          <br>
          <br>
          <code> var1 = "Taylor Swift is amazing!!" </code>

          <br> <br>

          Then, to see what’s inside<var> var1</var>, we could enter
          <br> <br>
          <code>print(var1)</code>.
          <br>
          <br>
  
          Output: <samp> Taylor Swift is amazing!! </samp>
          <br> <br>

          Go on! Try it yourself!
          <br>
          <br>
        </p>

        <h1> Length of a string </h1>

        <p>

          What if you want to know the length of your string? Like Hello contains 5 letters. <br> <br>

        </p>

          <!-- Hello12345 image -->
          <center> <img src="{% static 'accounts/curriculum/Images/hello12345.png' %}" /> </center>
          <!-- Hello image end -->

        <p> 

          Instead of counting each letter, all you need to do is use <code> len() </code><br> <br>

          <code> len(“Hello”) </code><br> <br>

          Output: <samp> 5 </samp><br> <br>

          Or you could use it with variables! <br> <br>

          <code> greetings = “Hello” </code><br> <br>
          <code> len(greetings) </code><br> <br>

        </p>

        <h1> String Concatenation </h1>

        <p>

          You can easily add strings to build a complete sentence by using the addition operator-ie the ‘+’ . Crazy, right? 

          <br> <br>

          P.S. no using this in your english paper! We don’t want your English teacher to faint :P

          <br> <br>

          Now,let’s frame a greeting, shall we?

          <br> <br>

          <code>name = “Eve”</code> <br> 
          <code>print “Good” + “ afternoon” + name + “!” </code>

          <br> <br> 

          OUTPUT : Good afternoon Eve!

          <br> <br>

          **Note: <code>name</code> is not inside <code> ""</code> as it's not a string but a variable! <br> <br>
          Try creating a concatenation of the list of things you ate for breakfast! If you had milk and cereal then, <br> <br>

          <code> print “Milk” + “ and” + “ cereal”</code>

          <br> <br>

          Do not forget to add space before each word, or your sentence would be one word instead , <i>Milkandcereal</i> and not <i>Milk and cereal</i>
          </p>

          <br>
          <br>

        <h1> Accessing String Elements </h1>

        <p>
          What if you want to access a particular letter in a string? Don't worry, all that you need to do is: <br> <br>

          <code> var = "HELLO" </code> <br> <br>
          <code> var[2] # access the 2nd element of Hello </code><br> <br>
          <code> print(var) </code><br> <br>

          Guess what will be printed? <br> <br>
          <code> E</code>?

          <br> <br>

          Wrong!

          <br> <br>

          There is a catch, programmers like counting from 0, so <br> <br>

          <!-- Hello01234 image -->
          <center> <img src="{% static 'accounts/curriculum/Images/hello01234.png' %}" /> </center>
          <!-- Hello image end -->
          <br>

        <p> 
          Thus, <code>L</code> is printed!<br> <br>

          Output: <samp> L</samp> 

          <br> <br>

          The postition alloted to each letter is known as it's index, thus this method is known as indexing. <br>
        </p>

        <h1> String slicing </h1>

        <p>
          Want a part of your string? No worries! <br> <br>

          <code> String[start_position:end_position]</code> <br> <br>

          To get "Love" out of "Ada Lovelace" you need letters from the postion 4 to 8. <br> <br>

          <!-- Hello12345 image -->
          <center> <img src="{% static 'accounts/curriculum/Images/lada123.png' %}" width="60%" /> </center>
          <!-- Hello image end --> <br><br>

          So, simply print: <br> <br>

          <code> print("Ada Lovelace"[4:8])</code> <br> <br>

          Output: <samp> Love</samp>

          **Note: In programming languages, the end postion is the number after the required number.



        <h1> Lower and Upper </h1>

        <p>

          To change a string to lower case or upper case simply use string.upper() or string.lower(). <br> <br>

          <code> name = "Eve"</code> <br>
          <code> name_upper = name.upper()</code> <br>
          <code> name_lower = name.lower()</code> <br>
          <br>

          Now you can simply print them! <br> <br>

          <code> print(name)</code><br> <br>

          Output: <samp> Eve</samp><br> <br>

          <code> print(name_upper)</code><br> <br>

          Output: <samp> EVE</samp><br> <br>

          <code> print(name_lower)</code><br> <br>

          Output: <samp> eve</samp><br> <br>
        </p>

        <h1> User Input </h1>

          <p>
            It might get boring to always define values for the variables...<br>
            Let's do something exciting! Let's take an input from the user...Just follow along <br> <br>

            Syntax: <code>input("statement")</code><br> <br>

            <code> name = input("Enter your name")</code> <br> 
            <code> print("Hi " + name)</code> <br> <br>

            Paste this code into your compiler and run. The console prints the statement "Enter your name", now you can type the name and press <kbd> enter</kbd>.<br> Output is Hi with the name entered. Cool know? <br> <br>
          <p>


    </div>


    <!-- Questions start -->
      <h1> Questions &middot; Python</h1>

      <div class="question">
        <p> Answer by pasting the output in the box. </p>
        <form method="POST">
          <div class= "question">
            {% csrf_token %}

            <!-- QUESTION 1 -->
             <p>1. <code>print(“Jam” + “and” + “Butter”) </code></p>
             <br>
             {{ form.answer_2_1 }}
             <br>
             <br>
            <button type="submit"> Submit </button>
            <br>
            {% if  user.answer_2_1 == "JamandButter" %}
              <center> 
                <img src = "{% static 'accounts/curriculum/Images/happy.png' %}" height=200 width=250/> 
                <br> 
                <p> That's correct! </p>
              </center>
       
            {% else %}
              <center> 
                <img src = "{% static 'accounts/curriculum/Images/sad.png' %}" height=200 width=250/> 
                <br> 
                <p>Make me happy by answering correctly!</p>
              </center>
              <br>
              <br>
            {% endif %}
            <!-- QUESTION 1 END-->

            <!-- QUESTION 2 -->
            <p>2. Output of
             <br>
             <code> job = "AcTOr" </code> <br>
             <code> print(job.lower())</code><br>
             <br>
             {{ form.answer_2_2 }}
             <br>
             <br>
            <button type="submit"> Submit </button>
            <br>
            {% if  user.answer_2_2 == "actor" %}
              <center> 
                <img src = "{% static 'accounts/curriculum/Images/happy.png' %}" height=200 width=250/> 
                <br> <br>
                <p> That's correct! </p>
              </center>
       
            {% else %}
              <center> 
                <img src = "{% static 'accounts/curriculum/Images/sad.png' %}" height=200 width=250/> 
                <br> <br>
                <p>Make me happy by answering correctly!</p>
              </center>
              <br>
              <br>
            {% endif %}
            <!-- QUESTION 2 END -->

            <!-- QUESTION 3 -->
            <p>3. Output of<br>
              <code> choc = “That’s Bond, James Bond."</code>
              <code> print len(choc)</code></p><br><br>
             {{ form.answer_2_3}}
             <br>
             <br>
            <button type="submit"> Submit </button>
            <br>
            {% if  user.answer_2_3 == 24 %}
              <center> 
                <img src = "{% static 'accounts/curriculum/Images/happy.png' %}" height=200 width=250/> 
                <br> 
                <p> That's correct! </p>
              </center>
       
            {% else %}
              <center> 
                <img src = "{% static 'accounts/curriculum/Images/sad.png' %}" height=200 width=250/> 
                <br> 
                <p>Make me happy by answering correctly!</p>
              </center>
              <br>
              <br>
            {% endif %}
            <!-- QUESTION 3 END -->

            <!-- QUESTION 4 -->
            <p>4. Syntax to access y out of lang <br>
              <code> lang="Python" </code>
            </p>
             <br>
             {{ form.answer_2_4 }}
             <br>
             <br>
            <button type="submit"> Submit </button>
            <br>
            {% if  user.answer_2_4 == "lang[1]" %}
              <center> 
                <img src = "{% static 'accounts/curriculum/Images/happy.png' %}" height=200 width=250/> 
                <br> <br>
                <p> That's correct! </p>
              </center>
       
            {% else %}
              <center> 
                <img src = "{% static 'accounts/curriculum/Images/sad.png' %}" height=200 width=250/> 
                <br> <br>
                <p>Make me happy by answering correctly!</p>
              </center>
              <br>
              <br>
            {% endif %}
            <!-- QUESTION 4 END -->

            <!-- QUESTION 5 -->
            <p>5. Output of <br>
              <code> comp_scientist="Grace Hopper"</code> <br>
              <code> print(comp_scientist[5:9])</code> <br>
            </p>
             <br>
             {{ form.answer_2_5 }}
             <br>
             <br>
            <button type="submit"> Submit </button>
            <br>
            {% if  user.answer_2_5 == "Hop" %}
              <center> 
                <img src = "{% static 'accounts/curriculum/Images/happy.png' %}" height=200 width=250/> 
                <br> <br>
                <p> That's correct! </p>
              </center>
       
            {% else %}
              <center> 
                <img src = "{% static 'accounts/curriculum/Images/sad.png' %}" height=200 width=250/> 
                <br> <br>
                <p>Make me happy by answering correctly!</p>
              </center>
              <br>
              <br>
            {% endif %}
            <!-- QUESTION 5 END -->

          </div>
        </form>  
      </div>
      <!-- Questions end -->

{% endblock %}