{% extends 'accounts/course/course_base.html' %}

{% block body %}

{% load static %}


  <div class="nine columns child">

    <div data-content="landing">
      <br>
      <br>
      <!-- Content start -->
      <div class="question">

        <h1> Basic Introduction &middot; Python</h1>

        <p>
          Greetings, code enthusiast! My name is Eve and I’m going to guide you through your journey of learning Python. 

          <br>
          <br>

          Some words will be underlined and can be clicked upon for explanation  <u><b>like this</b></u> ( Good job! You’ve opened up an explanation for ‘like this’ and you can do it <b><u>again!</u></b> ( Wow, you’re terrific at this!) 

          <br>
          <br>

          A computer program is the set of instructions that tell that the dumb hardware  (mouse,keyboard,desktop-the physical parts of a computer)  what to do. 

          <br>
          <br>
  
      
          A programming language is simply a means to communicate with the computer—a way to use instructions that the human and the computer can understand. Python is one such language!

          <br>
          <br>
  

           A computer program is made of <u><b>algorithms.</u></b> (An algorithm is like a recipe: if you’ve ever cooked, you probably know that you are made to follow certain steps. Say, you want to make a glass of coffee. You would first put the coffee powder, then pour the milk, and then stir. For computers, this step-by-step instruction is called an Algorithm.)

           <br>
           <br>

          Programmers use comments to explain what a section of the code does for someone who’s viewing the program, so even the layman can understand what this ‘coding’ is all about. It's written after a #. Don't worry about the code! We will learn everything...

          <br>
          <br>

          <code> print("Hello World") # this is a comment </code>
          
          <br>
          <br>

           The sad part is that computers don’t understand English or Hindi – they have their own languages. When an algorithm is written in one of these languages, it becomes a program. This is what you’ll learn over the next few days!



        </p>
          
          <h1> Operators </h1>
          <p>
          The basic symbols used by Python to perform mathematical operations are called <i>operators</i>:

          <ul>
          <li> Addition (+)</li>
          <li> Subtraction (-) </li>
          <li> Multiplication (*) </li>
          <li> Division for Quotient (/) </li>
          <li> Modulo (%) </li>
          </ul>

          <br>
        <p>
          What does Modulo do, you may ask? Well it’s quite simple.

          <br>

          Try figuring out what it does:

          <br>
          <br>

          <code> 1 % 4 = 1</code><br>
          <code>15 % 4 = 3</code> <br>
          <code>10 % 4 = 2</code> <br>
          <br>

          Got it? Yes, you’re right! Modulo returns the remainder.

          <br>
          <br>

          <code>4 x 0 + <b> 1 </b></code><br>
          <code>4 x 3 + <b> 3 </b></code><br>
          <code>4 x 2 + <b> 2 </b></code><br>

          <br>

          Good work!

          <br>
          <br>

          Python follows BODMAS rules. For example, if you enter: 

          <br> 
          <br>

          <code>5+6*10</code> 

          <br>
          <br>

          5 and 10 are multiplied and 6 is added to the result - the answer is 56 and <b> not </b>110.

          <br>
          <br>

          We use brackets () to correct this. The bracket tells Python to perform the operation inside it first.

          <br>
          <br>

          <code> (5+6)*10</code> 

          <br>
          <br>

          Here, the operation inside the brackets is performed first, so 11 is multiplied to 10. Thus, it equals 110.

          <br>
          <br>

          To raise a number to a power we can simply use <code> **</code>

          <br>
          <br>

          <code>2 ** 2 = 4</code> <br>
          <code>3 ** 2 = 9</code>

          <br>
          <br>

          There are other type of operators as well, these are called boolean operators. These handle the expression, <code> True</code> and <code>False</code>.

          <br>
          <br>

          Just like the addition (+), subtraction (-), multiplication (*), and division (/) operators for math problems, boolean problems have their own operators:

        

          <ul>
            <li> > : greater than </li>
            <li> < : less than </li>
            <li> >= : greater than or equal to</li>
            <li> <= : less than or equal to </li>
            <li> == : equivalent </li>
            <li> != : not equivalent </li>
          </ul> 
          <br>

          <p> Why two <code> ==</code> and not <code> =</code>? <br>
          Well <code> =</code> holds another meaning that we will see later.

          <br>
          <br>

          Booleans expressions are either True or False.

          <br>
          <br>

          <code> 9 > 10 </code> <br> <br>

          Output: <samp> False </samp>

          <br>
          <br>

          <code> 3 + 3 < 10 </code> <br> <br>

          Output: <samp> True </samp>

          <br>
          <br>

          We can even combine these expressions using <code> and</code>, <code> or</code> and <code> not</code>.

          <br>
          <br>

          <code> AND</code>

          <br>

          If both expressions are True it returns True, else it returns False.

          <br>
          <br>

          <code> 3 + 4 == 7 and 8 < 9 </code>

          <br>
          <br> 

          3 + 4 is 7 so the first expression is True. <br>
          8 is less than 9 so the second expression is also True. 

          <br>
          <br>

          Hence, the output is <samp> True </samp>.

          <br>
          <br>

          <code> 3 + 4 == 7 and 10 < 9 </code>

          <br>
          <br> 

          3 + 4 is 7 so the first expression is True. <br>
          10 is not less than 9 so the second expression is False. 

          <br>
          <br>

          Hence, the output is <samp> False </samp>.

          <br>
          <br>

          <code> OR</code>

          <br>

          If both expressions any one expression is True

          <br>
          <br>

          <code> 3 + 4 == 7 or 8 != 9 </code>

          <br>
          <br> 

          3 + 4 is 7 so the first expression is True. <br>
          8 doesn't equal 9 so the second expression is also True. 

          <br>
          <br>

          Still, unlike <code> and</codE> the output is <samp> True </samp>.

          <br>
          <br>

          <code> 4 + 4 == 7 or 10 < 9 </code>

          <br>
          <br> 

          4 + 4 is 8 so the first expression is False. <br>
          10 is not less than 9 so the second expression is False. 

          <br>
          <br>

          Hence, the output is <samp> False </samp>.

          <br>
          <br>

          <code>NOT</code>

          <br>

          Not just returns the opposite of the given result. If the expression is True it will reutrn False and vica versa.

          <br>
          <br>

          <code> not (3 + 4 == 7)</code>

          <br>
          <br> 

          3 + 4 is 7 so the first expression is True but because of the not it gives False. 

          <br>
          <br>

          Hence, the output is <samp> False </samp>.

          <br>
          <br>

          <code>not (10 < 9) </code>

          <br>
          <br> 

          10 is not less than 9 so the second expression is False but because of the not it gives True. 

          <br>
          <br>

          Hence, the output is <samp> True </samp>.

          <h1> Print </h1>
          <p>

          It is the command you use to tell the computer to display something. 
          <br>
          For example, let’s display Hello World on our screen. To do this,
          
          <br>
          <br>

          <code> print ("Hello World") </code> 

          <br>
          <br>

        </p>

          <!-- laptop image -->
          <center> <img src="{% static 'accounts/curriculum/Images/laptopwithh.png' %}" width="50%" /> </center>
          <!-- laptop image end -->
        <p>
          <br>
          <br>
          You can directly print <b> <u> strings </b> </u> (text) like <br> <br>
           <code> print(“I am amazing”) </code> <br> <br>
         </p>
      </div>
      <!-- Content end -->    

      <!-- Questions start -->
      <h1> Questions &middot; Python</h1>

      <div class="question">
        <p> Answer by pasting the output in the box. </p>
        <form method="POST">
          <div class= "question">
            {% csrf_token %}
             <p>1. <code>Print ("Hello World") </code></p>
             <br>
             {{ form.answer_1 }}
             <br>
             <br>
            <button type="submit"> Submit </button>
            <br>
            {% if  user.answer_1 == "Hello World" %}
              <center> 
                <img src = "{% static 'accounts/curriculum/Images/happy.png' %}" height=200 width=250/> 
                <br> <br>
                <p> That's correct! </p>
              </center>
       
            {% else %}
              <center> 
                <img src = "{% static 'accounts/curriculum/Images/sad.png' %}" height=200 width=250/> 
                <br> <br>
                <p>Make me happy by answering correctly!</p>
              </center>
            {% endif %}
          </div>
        </form>  
      </div>
      <!-- Questions end -->
    </div>
  </div>  

{% endblock %}