{% extends 'accounts/course/course_base.html' %}

{% block title %} 4 {% endblock %}

{% block body %}

{% load static %}


  <div class="nine columns child">

  <div data-content="landing">

  <div class="question">

  <h1> Loops &middot; Python</h1>

  <p>
    What’s the laziest thing, creature, or entity to have ever existed?
    Is it a sloth? A slug, maybe?<br>
    No..it’s a programmer!<br> 
    <br>

    Is there really anything worse than writing the same code again and again and again and again?<br><br>
    For instance, if you want to <code> print (“hello”)</code> 100 times, you’re not going to repeat this code a 100 times. Instead, you’ll use a new feature- <b> loop .</b>
    <br>
    <br>

    Syntax:
    <br>

    <code> For <var> variable </var> in range(0,number_of_times):</code> <br>
    &emsp;&emsp;
    <code> action</code> <br><br>

    To print hello 100 times:<br> <br>

    <code> for x in range(0,100):</code><br>
    &emsp;&emsp;
    <code> print(“hello”)</code> <br>
    <br>


    Here, the variable x will go (iterate) from 1-100, printing <b>hello</b> each time it completes one iteration.
    <br>
    <br>

    <!-- eveparty image -->
    <img src="{% static 'accounts/curriculum/Images/eveballoon.png' %}" width="20%" align="right"/> 
    <!-- eveparty end -->

    You can even  print numbers between 2 numbers. <br>For example, if you want to make a 10-seconds party counter:
    <br>
    <br>
    <code> for x in range(1,11): </code> <br>
    &emsp;&emsp;
    <code> print(x) </code> <br> <br>

    Output: <samp> 1 2 3 4 5 6 7 8 9 10</samp> <br> <br>

    **Note: In programming languages, the end postion is the number after the required number. <br> <br>

    Let’s apply the if-else statements we learned earlier to loops. <br>
    Suppose we want to check which numbers between 1-10, are even  and which are odd. <br> <br>

    <code>For x in range(1,10):</code> <br>
      &emsp;&emsp;
      <code>if ( x%2 ==0)</code> <br>
      &emsp;&emsp;&emsp;&emsp;
        <code>print (“even”)</code> <br>
      &emsp;&emsp;
      <code>else</code><br>
      &emsp;&emsp;&emsp;&emsp;
        <code>print(“odd”)</code> <br> <br>

    Good work! <br> <br>

   
     No one likes to be disturbed while sleeping. <br> Eve is really tired today and she wants to take a nap. She’s told her mum not to disturb her  <b> while </b> she’s sleeping. <br> 
     Once she wakes up, her mother can give her chores as she is no longer sleeping. Her request condition expires or, is terminated, once she wakes up and is no longer sleeping.<br>

    <!-- eveparty image -->
    <img src="{% static 'accounts/curriculum/Images/seve.png' %}" width="20%" align="right"/>
    <!-- eveparty end -->

     This is the basic principle of a <b> While Loop </b>.    
      <br>
      <br>

      <code> while eve_is_sleeping:</code><br>
      &emsp;&emsp;
      <code> mother_can't_give_work</code><br><br>

    The while loop tells the computer to do something as long as <br><b>the condition</b> is True.<br>
    The condition is evaluated, and if the condition is <b>True</b>, the code within the block is executed.  <br>

    This repeats until the condition becomes false. <br> <br>
    
    Syntax:
    <br><br>

    <code> while <"condition"> :</code> <br> 
    &emsp;&emsp;
    <code> code which will run if the condition is true </code>
    <br><br>

    Let's print numbers from 1 to 10.<br><br>

    <code> number = 1 </code> <br> <br>

    <code> while(number <= 10) </code> <br> 
    &emsp;&emsp;
    <code> print number</code><br> 
    &emsp;&emsp;
    <code>number = number + 1 </code> <br> <br>

    The loop will stop once the number exceeds 10.
    <br> <br>

    Output: <samp> 1 2 3 4 5 6 7 8 9 10</samp>

    </p>
  </div>

  <!-- Questions start -->
  <h1> Questions &middot; Python</h1>

      <div class="question">
        <p> Answer by pasting the output in the box. </p>
        <form method="POST">
          <div class= "question">
            {% csrf_token %}

            <!-- QUESTION 1 -->
             <p>1. Output for<br>
              <code> i = sum = 0</code><br>
              <code>while i <= 4:</code><br>
              &emsp;&emsp;
              <code>sum += i</code><br>
              &emsp;&emsp;
              <code>i = i+1</code><br>
              <code>print(sum)</code> <br><br>

             <p>Write space-separated integers</p>
             <br><br>
             {{ form.answer_4_1 }}
             <br>
             <br>
            <button type="submit"> Submit </button>
            <br>
            {% if  user.answer_4_1 == 10 %}
              <center> 
                <img src = "{% static 'accounts/curriculum/Images/happy.png' %}" height=200 width=250/> 
                <br> 
                <p> That's correct! </p>
              </center>
       
            {% else %}
              <center> 
                <img src = "{% static 'accounts/curriculum/Images/sad.png' %}" height=200 width=250/> 
                <br> 
                <p>Make me happy by answering correctly!</p>
              </center>
              <br>
              <br>
            {% endif %}
            <!-- QUESTION 1 END-->

            <!-- QUESTION 2 -->
            <p>2. Output of <br> <br>
            <code>for i in range(0,3):</code><br>
            &emsp;&emsp;
            <code>print(i+1)</code><br><br>

            Write space-separated integers.

             <br><br>
             {{ form.answer_4_2 }}
             <br>
             <br>
            <button type="submit"> Submit </button>
            <br>
            {% if  user.answer_4_2 == "1 2 3" %}
              <center> 
                <img src = "{% static 'accounts/curriculum/Images/happy.png' %}" height=200 width=250/> 
                <br> <br>
                <p> That's correct! </p>
              </center>
       
            {% else %}
              <center> 
                <img src = "{% static 'accounts/curriculum/Images/sad.png' %}" height=200 width=250/> 
                <br> <br>
                <p>Make me happy by answering correctly!</p>
              </center>
              <br>
              <br>
            {% endif %}
            <!-- QUESTION 2 END -->

            <!-- QUESTION 3 -->
            <p>2. Output of <br> <br>
            <code>for x in range(1,5):</code><br>
            &emsp;&emsp;
            <code>if ( x%2 ==0):</code><br>
            &emsp;&emsp;&emsp;&emsp;
            <code>print ("even")</code><br>
            &emsp;&emsp;
            <code>else:</code><br>
            &emsp;&emsp;&emsp;&emsp;
            <code>print("odd")</code><br><br>
      
            Write a space-separated output.

             <br><br>
             {{ form.answer_4_3 }}
             <br>
             <br>
            <button type="submit"> Submit </button>
            <br>
            {% if  user.answer_4_3 == "odd even odd even" %}
              <center> 
                <img src = "{% static 'accounts/curriculum/Images/happy.png' %}" height=200 width=250/> 
                <br> <br>
                <p> That's correct! </p>
              </center>
       
            {% else %}
              <center> 
                <img src = "{% static 'accounts/curriculum/Images/sad.png' %}" height=200 width=250/> 
                <br> <br>
                <p>Make me happy by answering correctly!</p>
              </center>
              <br>
              <br>
            {% endif %}
            <!-- QUESTION 3 END -->

            

          </div>
        </form>  
      </div>
      <!-- Questions end -->

      <h1> Sample Programs &middot; Python</h1>

      <div class="question">
        <p>
          1. Write a Program to add first n natural numbers (1+2+3+...+n). <br> <br>

          <code>n = 10</code><br>
          <code>sum = 0</code><br>
          <code>i = 1</code><br><br>
          <code>while i <= n:</code><br>
          &emsp;&emsp;
          <code>sum = sum + i</code><br>
          &emsp;&emsp;
          <code>i = i+1 </code><br><br>
          <code>print("The sum is", sum)</code><br><br>

          2. A Fibonacci sequence is the integer sequence of 0, 1, 1, 2, 3, 5, 8....<br>
          The first two terms are 0 and 1. All other terms are obtained by adding the preceding two terms. This means to say the nth term is the sum of (n-1)th and (n-2)th term.<br><br>
          Write a Program to display the Fibonacci sequence up to n-th term where n is provided by the user. <br> <br>

          <code>nterms = 10</code><br>
          <code>n1 = 0</code><br>
          <code>n2 = 1</code><br>
          <code>count = 0</code><br><br>

          <code>if nterms <= 0:</code><br>
            &emsp;&emsp;
             <code>print("Please enter a positive integer")</code><br>
          <code>if nterms == 1:</code><br>
             &emsp;&emsp;
             <code>print("Fibonacci sequence upto",nterms,":")</code><br>
              &emsp;&emsp;
             <code>print(n1)</code><br>
          <code>else:</code><br>
            &emsp;&emsp;
             <code>print("Fibonacci sequence upto",nterms,":")</code><br><br>
              &emsp;&emsp;
             <code>while count < nterms:</code><br>
              &emsp;&emsp;&emsp;&emsp;
                 <code>print(n1,end=' , ')</code><br>
                  &emsp;&emsp;&emsp;&emsp;
                 <code>nth = n1 + n2</code><br>
                  &emsp;&emsp;&emsp;&emsp;
                 <code>n1 = n2</code><br>
                  &emsp;&emsp;&emsp;&emsp;
                 <code>n2 = nth</code><br>
                  &emsp;&emsp;&emsp;&emsp;
                 <code>count += 1</code><br>



      </div>


{% endblock %}