{% extends 'accounts/course/course_base.html' %}

{% block title %} 7 {% endblock %}

{% block body %}

{% load static %}

      <div class="nine columns child">

        <div data-content="landing">
          <br>
          <br>

          
          <div class="question">

            <h1> Lists&middot; Python</h1>

            <p>
             Eve wants to go grocery shopping, so, she makes a list of all the items she  needs. Her list contains the following items: <br> 
             <ol>
<li>Butter </li>
<li>Bread</li>
 <li>Chocolate </li>
<li>Carrots </li>

<br><br>Python offers a tool called lists to keep track of related "things," or values.<br>
 To help Eve,let's make a list called shopping_list  and fill it with each of the items:<br>
 
<b>PICTURE LIST 0-3 items</b> <br> 
Programmers like to count from 0. Hence, instead of having 1, 2, 3 and, 4 position numbers, we have 0, 1, 2 and, 3 position numbers! <br> <br>
 

<code>shopping_list = [“bread", "butter", carrots", "chocolate"]</code> <br> <br>
 
If we want to print the third item in the shopping_list (carrots) we can do so by entering its position in the list <i>(called the index position)</i> inside square brackets ([]), like this: <br> <Br>
<code> print (shopping_list[2]) </code>
<br> <br>

<code>shopping_list = [“bread", "butter", carrots", "chocolate"] </code> <br> <br>
For x in range(0,3): <br> 
Print (shopping_list[x]) <br> <br> 
 
Eve forgot to add flour to her list! Oh no, however will she bake cake now?
But, fear not..you can add flour to her shopping list  since there’s no limit for the length of the shopping list. <br>
The syntax for appendment is:  <br> 
<code>list_name.append(item)</code>
<code>shopping_list.append(“flour”)
           print shopping_list </code> <br> <br>
Now using append(), the item can only be added to the end of the list. But do not fret, we can add the item to whichever position you like using another function <b>insert()</b> <br> <br>
<code>list_name.insert(index number, item</code> <br> <br>
<code>shopping_list.insert(1,”flour)</code>  <br>
<code>print shopping_list</code> <br> <br> 

Within the brackets first mention the desired  <i>index number</i>  and then the item. <br>
 Sometimes you need to remove something from the list, that can achieved by yet another function <b>remove()</b>. <br>
Silly Eve forgot she already had a loaf of bread at home, so she needs our help to remove that item from the list.<Br> <br>
<code>list_name.remove(item)</code> <br>
OR <br>
<code>shopping_list.remove(“bread”)<br>
print shopping_list </code>

              
               
              </p>

            </div>

          <h1> Questions &middot; Python</h1>
          <div class="question">

            <form method="POST">
              {% csrf_token %}
               <p>1. <code>Print ("Hello World") </code></p>
               <br>
               {{ form.answer_1 }}
               <br>
               <br>
              <button type="submit"> Submit </button>
            </form>
            <br>
            {% if  user.answer_1 == "Hello World" %}
            <p> Correct </p>
            <img src = "{% static 'accounts/curriculum/Images/happy.png' %}"/>
            {% else %}
            <p> Try again </p>
            <img src = "{% static 'accounts/curriculum/Images/sad.png' %}"/>
            {% endif %}

          </div>



      </div>


{% endblock %}